/* - Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%) */

:root {
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
  --white: #ffffff;
  --blue: hsl(248, 32%, 49%);
  --red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: flex;
  background-image: url(./images/bg-intro-desktop.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  display: grid;
  /* background-color: var(--white); */
  grid-template-columns: 700px 400px;
  gap: 10px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  width: 1440px;
  
}

.inputContainer {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 5px;
  width: 100%;

}

.eachInputWrap{
  /* background-color: aqua; */
  width: 95%;
    position: relative;
}

.eachInputWrap > input {
  background-color: var(--white);
  border: 1px solid var(--grayishBlue);
  padding: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  margin: 12px 0px;
  border-radius: 5px;
  display: flex;
  justify-self: flex-start;
  flex-direction: column-reverse;
  position: relative;
}

.inputContainer > input::placeholder {
  font-size: 13px;
}

.inputContainer > input:focus {
  border: 1.5px solid var(--darkBlue);
}

.inputContainer > button {
  background-color: var(--Green);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  margin: 10px 0 5px 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.inputContainer > button:hover {
  background-color: var(--darkBlue);
}

.tryFree {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 14px 20px;
  width: 100%;
  box-shadow: onset 10px 20px 30px rgba(0, 0, 0, 0);
}
.tryFreeBold {
  font-weight: bold;
}
.TermsServives {
  font-size: 8px;
  margin-bottom: 5px;
  color: var(--grayishBlue);
}
.TermsServivesBold {
  color: var(--red);
  font-weight: bold;
  font-size: 9px;
}
.headText  {
  font-size: 45px;
  color: var(--white);
  width: 60%;
  font-weight: bold;
    line-height: 50px;
  margin-bottom: 20px;
}

.paragraphOne {
  width: 80%;
    color: var(--white);
}

/* error class */

.errorBox {
  background-color: var(--white);
  border: 1px solid var(--red);
  padding: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  margin: 10px;
  border-radius: 5px;
}

.eachInputWrap > .errorMessage  {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin-top: - 10px;
  position: absolute;
   color: var(--red);
   display: block;
  /* z-index: 100; */
  top: 58px;
  bottom: 0px;
height: 10px;
}

#formErrorMessage  {
     color: var(--red);
     font-size: 14px;
     height: 10px;
     margin-bottom: 5px;
}


/* Responsive design */

@media screen and (max-width:600px){
  body {
    /* background-color: blueviolet; */
      display: flex;
  background-image: url(./images/bg-intro-desktop.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
  justify-content: center;
  align-items: center;
  height: 100vh;
      overflow-y: scroll;
  }

  .formContainer {
    text-align: center;
  display: flex;
  flex-wrap: wrap;
  /* flex-shrink: 1; */
  /* background-color: var(--darkBlue); */
  /* grid-template-columns: 500px 500px; */
  gap: 10px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  /* max-width: 400px; */
  width: 100%;
  overflow-x: hidden;

}
.headText  {
  font-size: 20px;
  color: var(--white);
  width: 60%;
  font-weight: bold;
    line-height: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.inputContainer {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 5px;
  width: 100%;

}
.eachInputWrap{
  /* background-color: aqua; */
  width: 100%;
    position: relative;
}

.eachInputWrap > input {
  background-color: var(--white);
  border: 1px solid var(--grayishBlue);
  padding: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  margin: 12px 0px;
  border-radius: 5px;
  display: flex;
  justify-self: flex-start;
  flex-direction: column-reverse;
  position: relative;
}

.inputContainer > input::placeholder {
  font-size: 13px;
}

.inputContainer > input:focus {
  border: 1.5px solid var(--darkBlue);
}

.inputContainer > button {
 
  background-color: var(--Green);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  font-size: 12px;
  outline: none;
  margin: 10px 0 5px 0;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.inputContainer > button:hover {
  background-color: var(--darkBlue);
}

.tryFree {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 14px 20px;
  width: 100%;
  box-shadow: onset 10px 20px 30px rgba(0, 0, 0, 0);
}
.tryFreeBold {
  font-weight: bold;
  
}
.TermsServives {
  font-size: 8px;
  margin-bottom: 5px;
  color: var(--grayishBlue);
  text-align: center;
}
.TermsServivesBold {
  color: var(--red);
  font-weight: bold;
  font-size: 9px;
}
.headText  {
  font-size: 45px;
  color: var(--white);
  width: 100%;
  font-weight: bold;
    line-height: 50px;
  margin-bottom: 20px;
}

.paragraphOne {
  width: 100%;
    color: var(--white);
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
}

/* error class */

.errorBox {
  background-color: var(--white);
  border: 1px solid var(--red);
  padding: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  margin: 10px;
  border-radius: 5px;
}

.eachInputWrap > .errorMessage  {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  margin-top: - 10px;
  position: absolute;
   color: var(--red);
   display: block;
  /* z-index: 100; */
  top: 58px;
  bottom: 0px;
height: 10px;
}

#formErrorMessage  {
     color: var(--red);
     font-size: 12px;
     height: 10px;
     margin-bottom: 25px;
     text-align: center;
}

.eachInputWrap > .errorMessage  {
  font-size: 11px;
  font-style: italic;
  text-align: left;
  margin-top: - 10px;
  position: absolute;
   color: var(--red);
   display: block;
  /* z-index: 100; */
  top: 58px;
  bottom: 0px;
height: 10px;
}
}